// Variables

// colors

$prm-color: red;
$scnd-color: blue;

//fonts

$merri: 'Merriweather', serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

// Body
* {
  color:black;
  margin: 0;
  padding: 0;
  border: solid red .25px;
  box-sizing: border-box;
}

body {
  background: white;
}

h2 {
  font-size: 24px;
  margin: 0 0 16px 0px;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-family: $merri;
  margin: 0 0 16px 0px;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 16px 0;
  text-align: center;
}

.strike{
  text-decoration: line-through;
}

.under-prm {
  text-decoration: underline;
  text-decoration-color: $prm-color;
}

.container {
  display: flex;
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 56px auto;
  height: 56px;
  align-items: flex-end;
  background: white;
  align-items: center;
  box-sizing: border-box;

  .logo-type {
    width:  auto;
    color: $prm-color;
    padding: 16px 24px;
    font-family: $merri;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      font-family: $lato;
      color: black;
      padding: 4px 16px;
      text-decoration: none;
      font-weight: bold;;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
  overflow: hidden;

  :before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    background: center center no-repeat url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .content {
    font-family: $lato; 
    width: 50%;
    min-width: 300px;
    height: auto;
    padding: 32px;
    text-align: center;

    h1 {
      color: white;
    }

    p {
      font-family: $lato;
      color: white;
    }
  }
}

.local-blocks {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  grid-gap: 16px 16px;
  margin: 16px 0;

  .card {
    justify-content: space-evenly;
    padding: 24px;

    .local-title {
      display: block;
    }
  }
}

.block-wrapper {
  width: 100%;
  height: auto;
  display: block;
  margin: 48px auto;
  padding: 24px;
}

.featured-blocks {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  grid-gap: 16px 16px;
  margin: 16px 0;
  height: auto;
  
  .featured-img {
    height: 200px;

    :before {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .card:nth-child(1) {
    .featured-img:nth-child(1) {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg);
    }
  }
  .card:nth-child(2) {
    .featured-img:nth-child(1) {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg);
    }
  }
  .card:nth-child(3) {
    .featured-img:nth-child(1) {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg);
    }
  }
  
  .card {
    justify-content: space-evenly;
    padding: 24px;

    p {
      font-family: 'Times New Roman', Times, serif;
      margin: 0px 0 24px 0;
    }
  }
}


button {
  background: red;
  color: white;
  font-size: 16px;
  min-width: 120px;
  width: auto;
  padding: 8px;
  font-family: $oswald;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-flex;
  box-shadow: 0 12px 10px -12px #000;
  justify-content: center;
}

.prm-btn {
  background: $prm-color;
  border-bottom: 2px solid darken($prm-color, 5%);
}

.scd-btn {
  background: $scnd-color;
  align-self: flex-end;
  border-bottom: 2px solid darken($scnd-color, 10%);
  margin-top: auto;
  }

footer {
  color: white;
  background: black;
  height: auto;
  padding: 24px 24px;
  font-family: $lato;
}
